;; WARNING
;; The test-config.edn file is used for local environment variables, such as database credentials.
;; This file is listed in .gitignore and will be excluded from version control by Git.

{:port                 3001
 :database-url         "jdbc:postgresql://localhost/chattercook?user=db_user&password=db_password"
 :jaas-tenant-name     "test-tenant-name"
 :jaas-api-key-id      "test-api-key-id"
 :jaas-private-key     "MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBALujFVAipbVZtdyJlJyprGZEB6t3LtQ7RLHwDOAAaXLBY2jNiLRL1yDFwty++Tp5cjJW1FukX4K+4nMX/7JUcZZjg0nKRLINtQzs2VGodRvGfVzBEr8qzVjpqfGKL65TXFc4csWavFv1j9qFbDyh3MDk0FmROfn7GDB6ESW50YTPAgMBAAECgYAcUwjzmNdU4d7vFKGnaIGKyngx7QLXrL648Ziv87/3P7Qm7OfW95/Y5aF9uyJaLl0LtknGL7DvRqteXmAN5mti2yJiRMjs2RmCttvyDOiHV3Sx8GTRPU6x5aLtwKU/8HQoGjWyV3yk1kkhRf6827e/mtAZ7LFIySWJYHJ06b6CWQJBAN9X7I0UNjmsGomg9FBlH94d//Oh8DjwuEzM7g9ybiHr49GjQm8IoZp91l7dCTjn1n3qtJg59P9BtMRCQoWxEw0CQQDXEp2QiKfevRtDc8EhCH/G1cpwyCcAJcarSAEiu19bR5pI+tDmbhW6lTKSDTmb0KC95xmux58RxeiTHI+DOLBLAkEAkJOiFVFYKM04AI+ol8JedrKE1Xmmv7VUGKMwF9/DW0IQH8zHXIkB07hR5ObA6Y1qU+hzL3eVGQe3tLQPy+tsoQJANp0xibxJ9JPM0ooYZs0DtXggmhcZYD43ftMgBrPR+RnrodCfL4SQ2/p7Bv94u4p05wRCT1G9oQPClWjRQJ8qlQJBAJJo0QcCBkINdz+cMBXAJitc9SabZMSN903jWF5iZUHBvCilbQIkxx2mAmOMuzj9cg9EinUXM9m+xjTjq4XpS5o=" ; fake
 :video-service-domain "meet.jit.si"
 :video-api-url        "https://meet.jit.si/external_api.js"}
