@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:ital,wght@0,400;0,600;1,600&display=swap');

:root {
    --primary-color: #e7c1c1;
    --secondary-color: #151c33;
    --font-size: 18px;
}

html,
body {
    background-color: var(--secondary-color);
    font-family: 'Playfair Display', serif;
    font-variant-numeric: lining-nums;
    font-size: var(--font-size);
    color: white;
    line-height: 1.556em;
}

a {
    color: var(--primary-color);

}

h1, h2 {
    color: var(--primary-color);
    line-height: 1.2em;
    font-weight: 600;
    font-size: 1.667rem;
    margin: 0 auto 1rem auto;
}

.brand {
    text-align: center;
    margin-top: 2rem
}

.main {
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    width: 85%;
}

#video > iframe {
    width: 100%;
    height: 100vh !important;
}

.button {
    font-family: 'Playfair Display SC', serif;
    padding: 0 1.75rem;
    line-height: calc(1rem + 1.5rem - 3px);
    height: calc(1em + 1.5rem);
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.167rem;
    border-radius: 1.5em;
    border: none;
    margin: 1.5rem auto;
    text-transform: lowercase;
}

button.button {
    padding-bottom: 6px;
}

label {
    display: block;
    text-align: left;
}

input, textarea, blockquote {
    background-color: rgba(255, 255, 255, .2);
    border: none;
    color: white;
    padding: 0 1.25rem;
    width: calc(100% - 2.5rem);
    margin: 0;
    margin-bottom: 1.5rem;
    display: block !important;
    font-size: 16px;
    font-variant-numeric: lining-nums;
}

input {
    height: 2.778rem;
    line-height: 2.778rem;
}

textarea {
    height: 15rem;
    line-height: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    resize: none;
}

input[type="datetime-local"] {
    appearance: none;
    -webkit-appearance: none;
}

ul {
    list-style: none;
    padding: 0;
}

.text-white {
    color: white;
}

.section {
    margin-bottom: 3.8rem;
}

.icon {
    margin-bottom: 0;
}
