@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:ital,wght@0,400;0,600;1,600&display=swap');

:root {
    --primary-color: #e7c1c1;
    --secondary-color: #151c33;
    --font-size: 16px;
}

html,
body {
    background-color: var(--secondary-color);
    font-family: 'Playfair Display', serif;
    font-size: var(--font-size);
    color: var(--primary-color);
    line-height: 1.5em;
}

a {
    color: var(--primary-color);

}

h1 {
    font-weight: 600;
    font-size: 1.875rem;
    margin: 0 auto 3rem auto;
    line-height: 1.2em;
}

.brand {
    text-align: center;
    margin-top: 2rem
}

.main {
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    width: 80%;
}

#video > iframe {
    width: 100%;
    height: 100vh !important;
}

.button {
    font-family: 'Playfair Display SC', serif;
    padding: 0 1.75rem;
    line-height: calc(1em + 2 * .75rem);
    height: calc(1em + 2 * .75rem);
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.3125rem;
    border-radius: 1.5em;
    border: none;
    margin: 1.5rem auto;
}

label {
    display: block;
    text-align: left;
}

input, textarea {
    background-color: rgba(255, 255, 255, .2);
    border: none;
    color: white;
    padding: 0 1.25rem;
    width: calc(100% - 2.5rem);
    margin-bottom: 1.5rem;
    display: block !important;
}

input {
    height: 3rem;
    line-height: 3rem;
}

textarea {
    height: 15rem;
    line-height: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    resize: none;
}

input[type="datetime-local"] {
    appearance: none;
    -webkit-appearance: none;
}

ul {
    list-style: none;
}
