<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chattercook</title>

    <!-- styles -->
    {% style "https://unpkg.com/normalize.css@8.0.1/normalize.css" %}
    {% style "/css/screen.css" %}
</head>
<body>
{% block brand %}
<div class="brand">
    <a href="/"><img width="58px" height="58px" src="/img/logo.png" alt="Chattercook logo"></a>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block page-scripts %}
{% endblock %}
</body>
</html>
