{% extends "base.html" %}
{% block content %}
<main class="main">
    <h1>Erstelle deine Kochgruppe</h1>
    <form action="/create-event/" method="post">
        {% csrf-field %}
        <label>
            <input type="text" name="name" placeholder="Vorname" autocomplete="given-name" required>
        </label>
        <label>
            <input type="datetime-local" name="date-time" placeholder="Datum & Uhrzeit" value="{{ suggested-date-time }}"
                   min="{{ min-date-time }}" max="{{ max-date-time }}" step="900" required>
        </label>
        <label>
            <input type="text" name="dish" placeholder="Name des Gerichts" required>
        </label>
        <label>
            <textarea rows="5" name="ingredients" placeholder="Einkaufsliste" required></textarea>
        </label>
        <button class="button" type="submit">Weiter geht's</button>
    </form>
</main>
{% endblock %}
