{% extends "base.html" %}
{% block content %}
<main class="main">
    <h1>Erstelle deine Kochgruppe</h1>
    <form action="/create-event/" method="post">
        {% csrf-field %}
        <input type="hidden" name="timezone-offset" id="timezone-offset" value="0">
        <label>
            <input type="text" name="name" placeholder="Vorname" autocomplete="given-name" required>
        </label>
        <label>
            <input type="datetime-local" name="date-time" placeholder="Datum & Uhrzeit"
                   value="{{ suggested-date-time }}"
                   min="{{ min-date-time }}" max="{{ max-date-time }}" required>
        </label>
        <label>
            <input type="text" name="dish" placeholder="Name des Gerichts" required>
        </label>
        <label>
            <textarea rows="5" name="ingredients" placeholder="Einkaufsliste" required></textarea>
        </label>
        <button class="button" type="submit">Weiter geht’s</button>
    </form>
</main>
<script>
    document.querySelector("#timezone-offset").value = -1 * new Date().getTimezoneOffset() * 60; // in seconds
</script>
{% endblock %}
