{% extends "base.html" %}
{% block content %}
<main class="main">
    <div class="content">
        <h1>Deine Kochgruppe</h1>
        <p id="event-info">
            Am {{ event-date }} um {{ event-time }} Uhr<br>
            Gekocht wird {{ dish }}
        </p>
        <div>
            <a href="#" class="button" id="share-button">Freunde einladen</a>
        </div>
    </div>
    <script>
        const shareButton = document.querySelector("#share-button");
        const invitationUrl = window.location.origin + "{{ invitation-url }}";

        if (navigator.share) {
            shareButton.addEventListener("click", event => {
                navigator
                    .share({
                        url: invitationUrl,
                        title: "Einladung",
                        text: "Du wurdest zu {{ possessive-name }} Kochgruppe eingeladen. Es wird {{ dish }} gekocht.",
                    })
                    // ignore, it was just cancelled by user
                    .catch((e) => null);
            });
        } else {
            const shareLabel = document.createElement("label");
            shareLabel.innerText = "Freunde einladen:"
            const shareLink = document.createElement("input");
            shareLink.id = "share-link";
            shareLink.value = invitationUrl;
            shareLink.readOnly = true;
            shareLabel.insertAdjacentElement("beforeend", shareLink);
            shareButton.insertAdjacentElement("afterend", shareLabel);
            shareButton.remove()
        }
    </script>
</main>
{% endblock %}
