{% extends "base.html" %}
{% block content %}
<main class="main">
    <div class="content">
        <h1>{{ creator }}<br>Kochgruppe</h1>
        <p id="event-info">
            Am {{ event-date }} um {{ event-time }} Uhr<br>
            Gekocht wird {{ dish }}
        </p>
        {% if start-event? %}
        <a href="/room/{{ event-id }}/" class="button" id="video-link">Los geht's</a>
        {% else %}
        <div>
            <a href="#" class="button" id="share-button">Freunde einladen</a>
        </div>
        Es geht los in <span id="count-hours"></span> h <span id="count-minutes"></span> min
        {% endif %}
        <p>
            <svg height="19" viewBox="0 0 24 19" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="m198.804 362c-1.334.422-11.758 8.724-14.939 13.105-.706-.712-7.296-5.486-8.63-5.908l-.235.594c2.092 1.556 7.136 7.193 8.669 11.209h.51c1.291-3.08 12.729-16.85 14.821-18.407z"
                      fill="#fff" fill-rule="evenodd" transform="translate(-175 -362)"/>
            </svg>
        </p>
        {% if guests %}
        <section class="section">
            <h2>Bestätigte Teilnehmer dieser Kochgruppe</h2>
            <ul id="guests">
                {% for guest in guests %}
                <li>{{ guest }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        <section class="section">
            <h2>Hier deine Einkaufsliste, vergiss' nicht einzukaufen</h2>
            <p id="ingredients">{{ ingredients|linebreaks-br|safe }}</p>
        </section>
    </div>
</main>

<script>
    const finaleDate = new Date("{{ event-date-time }}").getTime();
    const timer = () => {
        const now = new Date().getTime();
        const diff = finaleDate - now;

        const hours = Math.floor(diff / (1000 * 60 * 60));
        const minutes = Math.floor(diff % (1000 * 60 * 60) / (1000 * 60));

        document.querySelector('#count-hours').textContent = hours;
        document.querySelector('#count-minutes').textContent = minutes;
    }
    timer();
    setInterval(timer, 1000);

    const shareButton = document.querySelector("#share-button");
    const invitationUrl = window.location.origin + "{{ invitation-url }}";

    if (navigator.share) {
        shareButton.addEventListener("click", event => {
            navigator
                .share({
                    title: "Hey!",
                    text: "Ich habe eine online Kochgruppe gegründet und Du bist eingeladen!\n" +
                        "Am {{ event-date }} um {{ event-time }} Uhr\n" +
                        "Gekocht wird {{ dish }}\n\n" +
                        "Ich freu' mich, wenn Du dabei bist!\n\n" +
                        "Liebe Grüße, {{ name }}",
                    url: invitationUrl,
                })
                // ignore, it was just cancelled by user
                .catch((e) => null);
        });
    } else {
        const shareLabel = document.createElement("label");
        shareLabel.innerText = "Freunde einladen:"
        const shareLink = document.createElement("input");
        shareLink.id = "share-link";
        shareLink.value = invitationUrl;
        shareLink.readOnly = true;
        shareLabel.insertAdjacentElement("beforeend", shareLink);
        shareButton.insertAdjacentElement("afterend", shareLabel);
        shareButton.remove()
    }
</script>
{% endblock %}
