{% extends "base.html" %}

{% block content %}
<main>
    <div id="video"></div>
</main>
<script src="https://8x8.vc/libs/external_api.min.js"></script>
<script>
    const domain = "8x8.vc"
    const options = {
        roomName: "{{ tenant }}/{{ room-name }}",
        parentNode: document.querySelector('#video'),
        jwt: "{{ jwt }}",
        configOverwrite: {
            disableInviteFunctions: true,
            prejoinPageEnabled: false,
        },
        interfaceConfigOverwrite: {
            TOOLBAR_BUTTONS: [
                'microphone', 'camera', 'closedcaptions', 'fullscreen', 'fodeviceselection', 'hangup', 'chat', 'videoquality', 'filmstrip', 'tileview', 'mute-everyone'
            ],
        }
    }
    api = new JitsiMeetExternalAPI(domain, options)

    if (navigator.share) {
        const shareButton = document.createElement("a")
        shareButton.href = "#"
        shareButton.innerText = "Share"
        shareButton.addEventListener("click", event => {
            navigator.share({
                url: "https://chattercook.heroku.com/guest-room",
                title: "Einladung",
                text: "Max lädt dich ein zu seiner Kochgruppe. Es wird Trüffelrisotto gekocht.",
            })
        })
        document.querySelector("#video").insertAdjacentElement("afterend", shareButton)
    }
</script>
{% endblock %}
