{% extends "base.html" %}

{% block content %}
<main>
    <div id="video"></div>
</main>
<script src="{{ video-api-url }}"></script>
<script>
    const domain = "{{ video-service-domain }}"
    const options = {
        roomName: "{{ tenant }}/{{ room-name }}",
        parentNode: document.querySelector('#video'),
        jwt: "{{ jwt }}",
        configOverwrite: {
            disableInviteFunctions: true,
            prejoinPageEnabled: false,
            disableTileView: true,
        },
        interfaceConfigOverwrite: {
            TOOLBAR_BUTTONS: [
                'microphone', 'camera', 'closedcaptions', 'fullscreen', 'fodeviceselection', 'hangup', 'chat', 'videoquality', 'filmstrip', 'tileview', 'mute-everyone'
            ],
        }
    }
    api = new JitsiMeetExternalAPI(domain, options);
    api.addListener("videoConferenceLeft", (event) => window.location = "/thank-you/");
</script>
{% endblock %}
